.custom_slider {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.slider_input {
  appearance: none;
  width: 100%;
  margin: 0;
  background: none;
  position: absolute;
  z-index: 2;
  top: -6px;
  
  &::-webkit-slider-thumb {
    appearance: none;
    height: 16px;
    width: 16px;
    background: $color-primary;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 1px 1px 8px rgb(29, 29, 31);
    border: 1px solid white;
  }

  &::-webkit-slider-runnable-track {
    height: 0;
  }
}

.track {
  display: flex;
  height: 6px;
  border-radius: 3px;
  overflow: hidden;
  background: transparent;
  position: relative;
  z-index: 1;
}

.filled {
  background: #53d3cc;
}

.remaining {
  background: #cecece;
}
