@use './variables' as *;

.wrapper {
  margin: 5rem;
  border: 1px solid grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  padding: 3rem;
  border-radius: $radius;
  height: 800px;
}
