.container {
  position: relative;
  width: fit-content;
  height: fit-content;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;
  width: 100%;
  max-height: 7rem;
  margin-top: 0.25rem;
  padding: 0.25rem 0;
  background-color: #fff;
  border: 1px solid $color-ghost-border;
  border-radius: $radius;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  overflow-y: scroll;
}

.option {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  cursor: pointer;
  color: $color-text;

  &:hover {
    background-color: $color-secondary-hover;
  }

  &[aria-selected='true'] {
    background-color: $color-primary;
    color: white;
  }
}

label{
  display: block;
}
